.title{
  color: blue !important;  
  font-family: fantasy;
  color: #000000 !important;
  padding-top: 45px;
}

body{
  background-color:#E0E6CF;
}
.navbar{
  z-index: 9999;
  border: 0;
  font-size: 15px !important;
  background-color: #4DE88D !important;
}

#profile{
  padding-top: 20px;
  margin: 0 auto;
  width: 300px;
  height: 400px;
}


li{
  font-size: 15px;
  font-family: Monospace;
  color: white;
}

nav p{
  margin-top: 10px;
}

.name{
	font-family: fantasy;
	text-transform: uppercase;
}

#logo a{
  font-family: fantasy !important;
  font-size: 30px;
}

#profile-text{
	padding: 20px;
	margin: 20px;
}


#main{
  padding: 0 auto ;
}

.divider{
  height:100px !important;
  margin: 0 auto;
  
}

.footer{
  padding: 0 auto;
  border-top-width: 0px;
}



.thumbnail{
  background-color: #EEEEEE;
  color: #000000;
  border: 0px;
}
label{
   font-size: 24px;
}

.socialM{
  height: 200px !important;
  width: 300px !important;
}
.name{
  font-family: Monospace;
}

.clearOverflow{
	clear: both;
}